ul.pure-g
  each item in items
    li.pure-u-1-2.item-li
      a.item-box(href='detail.html?id=#{item.id}')
        .item
          - var classes = []
          if !(item.onSale && item.store > 0)
            - classes.push('sold-out')
          .img-box(class=classes)
            //- img-box square 1:1
            .lazy-box.unloaded
              .square
                .square-inner
                  img.lazy(src=transparent, data-original=item.image||false)
          .desc-box
            .title= item.title
            .price ￥#{item._price.toFixed(1)}
