- var classes = []
if !banner.href
  - classes.push('default')
a(href=banner.href||false, class=classes)
  //- banner min-height 190px
  img.lazy(alt=banner.alt||'',
  src=transparent, data-original=banner.src||false)
