ul
  each board in boards
    li.board-li.lazy-box
      - var classes = []
      if !board.href
        - classes.push('default')
      if !classes.length
        - classes = false
      a(href=board.href||false, class=classes)
        //- board min-height 100px
        .lazy-box.unloaded
          img.lazy(alt=board.alt||'',
          src=transparent, data-original=board.src||false)
