#nav
  .pure-g
    - var key
    .pure-u-1-4
      - key = '日用'
      a.btn.nav-btn(href='items.html?tags=#{key}')
        i.fa.fa-sun-o
        span= key
    .pure-u-1-4
      - key = '夜用'
      a.btn.nav-btn.pull-center(href='items.html?tags=#{key}')
        i.fa.fa-moon-o
        span= key
    .pure-u-1-4
      - key = '护垫'
      a.btn.nav-btn.pull-center(href='items.html?tags=#{key}')
        i.fa.fa-heart-o
        span= key
    .pure-u-1-4
      a#brands-btn.btn.nav-btn.pull-right(onclick='showBrands()')
        i.fa.fa-gift
        span 品牌
