//- image min-height 200px
.img-box
  .lazy-box.unloaded
    - var offsale = 'images/off-sale.png'
    - var soldout = 'images/sold-out.png'
    - var cover = false
    if !item.onSale
      - cover = offsale
    else if item.store <= 0
      - cover = soldout
    if cover
      img.cover(src=cover)
    img.lazy(data-original=item.imageLarge||false)
.desc-box
  h3.title= item.title
  .pure-g
    .pure-u-1-2
      .line
        span.label 销　量
        span.sales #{item.sales} 件
      .line
        span.label 超市价
        span ￥#{item.marketPrice.toFixed(1)}
    .pure-u-1-2
      if item.promotingPrice && item.promotingPrice < item.shopPrice
        .line
          span.label 特　价
          span.price ￥#{item.promotingPrice.toFixed(1)}
      .line
        span.label 闺蜜价
        span.price ￥#{item.shopPrice.toFixed(1)}
include purchase
.detail-box
  //- use html
  p!= item.description
