ul.pure-g
  - var offsale = 'images/off-sale.png'
  - var soldout = 'images/sold-out.png'
  each item in items
    li.pure-u-1.item-li
      .item-box(data-id=item.id)
        .pure-g
          .pure-u-1-12
            .col-box.tick-box
              - var classes = ['pure-button', 'tick']
              if item.checked
                - classes.push('on')
              a(class=classes)
                i.fa.fa-check
          .pure-u-1-3
            .col-box
              a(href='detail.html?id=#{item.id}')
                .img-box
                  .lazy-box.unloaded
                    .square
                      .square-inner
                        img.lazy(data-original=item.image||false)
                      - var cover = false
                      if !item.onSale
                        - cover = offsale
                      else if item.store <= 0
                        - cover = soldout
                      if cover
                        .square-inner
                          img(src=cover)
          .pure-u-7-12
            .col-box.desc-box
              .title= item.title
              .pure-form
                span.price ￥#{item._price.toFixed(1)}
                i.fa.fa-times
                input.num(type='text', value=item.num)
